body
{
    background-color:  #003c98;
    overflow: hidden;
    opacity: 1;
    animation: fadeOut 1.5s linear;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      background-color: #f9f9f9;

    }
  }
 .canvas-container {
    position: relative;
    border-radius: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

 .pgm-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; /* Logo her zaman ekran genişliğine uyacak */
    max-height: 80vh; /* Logo ekran yüksekliğinin %80'ini aşmayacak */
}

/* Optional: Add media queries for different screen sizes */
@media screen and (max-width: 768px) {
     .pgm-logo {
        max-height: 60vh; /* Ekran yüksekliğinin %60'ına düşür */
    }
}

@media screen and (max-width: 576px) {
     .pgm-logo {
        max-height: 30vh; /* Ekran yüksekliğinin %40'ına düşür */
    }
}
